body {
    font-size: "Arial", sans-serif;
    background-color:  #f5f5f5 ;
    color: #333 ;
    padding: 20px;
}

#cabecera-principal {

    background-color:   #2c3e50 ;
    color: white ;
    padding: 40px;
    text-align: center;

}

#cabecera-principal>h1 {
    size: 36px;

}

#cabecera-principal>h1 {
    size: 20px;
    color: #f1ae05  ;

} 

